<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projem.sencehangisi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".Controls.AppController"
        android:allowBackup="true"
        android:label="Sence Hangisi"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.KullaniciIslemleriActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragments.KullaniciProfiliActivity"
            android:label=""
            android:parentActivityName=".Activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.AyarlarActivity"
            android:label="Ayarlar"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.AyarlarKullaniciAdi"
            android:label="Kullanıcı adını degiştir">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.AyarlarActivity" />
        </activity>
        <activity
            android:name=".Activitys.AyarlarSifre"
            android:label="Şifreni değiştir">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.AyarlarActivity" />
        </activity>
        <activity
            android:name=".Activitys.AyarlarEposta"
            android:label="@string/eposta_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.AyarlarActivity" />
        </activity>
        <activity
            android:name=".Activitys.BildirimlerActivity"
            android:label="@string/bildirimler_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.AnketOlustur"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.ArkadasiniBulActivity"
            android:label="@string/title_arkadaslarini_bul"
            android:parentActivityName=".Activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.TakipcilerActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.TakipEdilenActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>